<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li>Evidence Matters. Context Matters.</li>
        </ul>
      </div>

      <div class="footer-col one-half">
        <p><a href="/subscribe">Mailing list and social media &mdash; follow us!</a></p>
      </div>
    </div>

  </div>

</footer>
