@charset "utf-8";

// Define defaults for each variable.
//

@import "reboot";

$base-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #FFF !default;

$grey-color:       #333 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;
$winnipeg-flag-yellow: #F4EA51 !default;
$winnipeg-flag-blue: #4259A2 !default;

$site-primary-color-one: #2196f3;
$site-primary-color-two: #FFF;
$site-primary-color-three: #FFF;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

a:hover, a:focus, a:active, a:visited {
  color: #FFF;
}

.esplanade_header {
  background: $site-primary-color-one;

  height: 210px;
  overflow: hidden;

  svg {
    min-height: 350px;
  }

  p {
    position: absolute;
    left: 100px;
    margin-top: 50px;
    font-size: 42px;
    color: $site-primary-color-three;
    $color-a: #378ab4;
    $color-b: #5dabcd;
    text-shadow:
    0 1px 0px $color-a,
    1px 0 0px $color-b,
    1px 2px 1px $color-a,
    2px 1px 1px $color-b,
    2px 3px 2px $color-a,
    3px 2px 2px $color-b,
    3px 4px 2px $color-a,
    4px 3px 3px $color-b,
    4px 5px 3px $color-a,
    5px 4px 2px $color-b,
    5px 6px 2px $color-a,
    6px 5px 2px $color-b,
    6px 7px 1px $color-a,
    7px 6px 1px $color-b,
    7px 8px 0px $color-a,
    8px 7px 0px $color-b;
  }
  p:nth-child(2) {
    margin-top: 90px;
    font-size: 22px;
  }
  @media (max-width: 500px) {
    p {
      position: inherit;
    }
  }
}


.site-nav {
  position: inherit;

  a::after, a::before {
    content: "  ";
  }

  .page-link {
    text-transform: uppercase;
    color: #4259A2;
    font-weight: 800;
  }
  .page-link:last-child {
    color: #FF3F3F;
  }
  overflow-x: ellipsis;
}

body {
  width: 100%;
}

body, html { overflow-x:hidden; }

h1, h2, h3, h4, h5, h6 {
  color: $site-primary-color-two;
}

a.label {
  background-color: #FFF;
  border: 1px solid rgba(1, 3, 5, 0%);
  text-decoration: none;
  border-radius: 13px;
  padding: 7px;

  font-weight: bold;
}

a.label:hover {
  animation: pulse-label 1s normal forwards;
  animation-iteration-count: 1
}

a.label-current {
  animation: pulse-label 0s normal forwards;
  animation-iteration-count: 1
}

@keyframes pulse-label {
	0% {
    background-color: #1330a9;
	}

	50% {
    background-color: $site-primary-color-one;
    color: #FFF;
	}

	100% {
    border: 1px solid rgba(1, 3, 5, 23%);
    background-color: $site-primary-color-one;
    color: #FFF;
	}
}

.aside-right, .aside-left {
  max-width: 350px;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  border-style: dashed solid;
  p {
    text-align: center;
    font-style: italic;
  }
}

.aside-left {
  float: left;
  margin-right: 2em;
}

.aside-right {
  float: right;
  border-style: dashed solid;
  margin-left: 2em;
}

details {
  cursor: pointer;
}


footer, footer a, footer .footer-heading {
  color: #000;

  a:hover, a:focus, a:active, a:visited {
    color: #000;
    text-decoration: underline;
  }
}

