@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;
$winnipeg-flag-yellow: #F4EA51 !default;
$winnipeg-flag-blue: #4259A2 !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

.esplanade_header {
  background: rgb(244,234,81);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(244,234,81,1) 100%);

  height: 210px;
  overflow: hidden;

  p {
    position: absolute;
    left: 100px;
    margin-top: 50px;
    font-size: 42px;
    color: #4259A2;
  }
  p:nth-child(2) {
    margin-top: 90px;
    font-size: 22px;
  }
}

.site-nav {
  position: inherit;
  .page-link {
    text-transform: uppercase;
    color: #4259A2;
    font-weight: 800;
  }
  .page-link:last-child {
    color: #FF3F3F;
  }
}

body {
  min-width: 460px;
}

h1, h2, h3, h4, h5, h6 {
  color: $winnipeg-flag-blue;
}

a.label {
  background-color: #f0f0f0;
  text-decoration: none;
  border-radius: 13px;
  padding: 7px;
  border: 1px solid rgba(1, 3, 5, 13%);
  font-weight: bold;
}

a.label:hover {
  animation: pulse-label 1s normal forwards;
  animation-iteration-count: 1
}

@keyframes pulse-label {
	0% {
    background-color: #f0f0f0;
	}

	50% {
    background-color: #1756a9;
    color: #FFF;
	}

	100% {
    background-color: #1756a9;
    color: #FFF;
	}
}

.aside-right {
  float: right;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 2em;
  text-align: center;
  p {
    text-align: left;
  }
}

